-- Check existing recurring_task_id values in tasks_items
SELECT DISTINCT recurring_task_id, COUNT(*) as task_count 
FROM tasks_items 
WHERE recurring_task_id IS NOT NULL 
GROUP BY recurring_task_id 
ORDER BY task_count DESC;
